* {
	margin: 0;
	padding: 0;
}

body {
	background-image: url('../images/light-veneer.png');
}


img {
	width: 90%;
	padding: 5%;
	border: 5px solid blue;

	
}

#left, #right {
	width: 50%;
	display: inline-block;	
}

