
* {
  margin: 0px;
}
/* FOR THE DIMENSIONS BELOW*/

@media only screen and (min-width:650px) and (max-width:1000px){
  .top-nav ul {
    text-align: center;
  }

  .top-nav ul li {
    display: inline-block;
    border-top: 1.5px solid red;
  }

/* FOR IMAGES PAGE*/

  .photo-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .photo-cell {
    grid-column: 1 / span 2;
    padding: 0px;
  }

  .yellow {
    grid-column: 1 / 2;
  }

  .bluish {
    grid-column: 2 / 2;
  }
}



/*FOR DIMENSIONS BELOW*/

@media only screen and (min-width:1000px){

  .top-nav {
    display: flex;
    justify-content:space-between;
    align-items: center;
  }

  .top-nav ul li {
    display: inline-block;
    border-top: none;
  }

/*FOR IMAGES PAGE*/

  .photo-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .photo-cell {
    grid-column: span 2;
    padding: 0px;
  }

  .yellow {
    grid-column: 1 / 2;
  }

  .bluish {
    grid-column: 2 / 2;
  }
}
